*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
package-lock.json
debug.log
/tags
/atom-shell/
/out/
docs/output
docs/includes
spec/fixtures/evil-files/
out/
/electron/
dist/
